global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 3000
    timeout client  8000
    timeout server  8000

frontend http-in
    bind *:8083
    default_backend express-servers

backend express-servers
    balance roundrobin
    server server1  express-server-1:3000 check
    server server2  express-server-2:3000 check