global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:8084
  stats enable
  stats uri /
  stats refresh 10s

frontend myfrontend
  bind :8083
  default_backend webservers

backend webservers
  server s1 express-server-1:3000 check
  server s2 express-server-2:3000 check


  