microservice:   ## general service details 
  name: grade-submission-api
  namespace: grade-submission
  replicas: 2

workload:   ## container specific configurations
  image: rslim087/kubernetes-course-grade-submission-api:stateless-v3
  port: 3000
  resources:
    memory: "128Mi"
    cpu: "128m"
  livenessDelay: 15

env:     ## environment variables
  MONGODB_HOST: mongodb
  MONGODB_PORT: "27017"

secrets:  ## sensitive data
  MONGODB_USER: 'YWRtaW4='
  MONGODB_PASSWORD: 'cGFzc3dvcmQxMjM='